.hidden {
    display: none;
}

.container {
    width: 428px;
    margin: 20px auto;
    border: solid 1px hsl(0, 0%, 57%);
    background-color: rgba(240, 170, 73, 0.208);   
    border-radius: 10px;
}

#mainContent {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
	margin: 1em 0 0.5em 0;
	color: #ed6810;
	font-family: "EB Garamond", serif;   
	font-size: 38px;
    font-weight: 800px;
    letter-spacing: -2px;
	text-transform: uppercase;
	text-shadow: 0 2px rgba(240, 170, 73), 0 3px #777;
    text-align: center;
}

p {
    font-family: "EB Garamond", serif;
    font-size: 22px;
    font-weight: 100;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 25px;
    color: #847d7d;
}

article {
    grid-column: 1/-1;
}

img {
    width: 100%;
    margin-top: 20px;
}

